body {
  background-color: #f7fbfc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #578ece;
  font-size: 4em;
  margin-bottom: 10px;
}

h2,
h3 {
  font-weight: normal;
  color: #578ece;
}

a {
  text-decoration: none;
}

hr {
  border-style: dotted none none none;
  border-color: #d6e6f2;
  border-width: 8px;
  width: 48px;
}


ul {
  list-style-type: none;
  padding: 0;
}

img {
  position: relative;
  max-width: 100%;
}

div {
  width: auto;
  overflow: hidden;
}

.top-container {
  background-color: #d6e6f2;
  padding-top: 20px;
}

.middle-container {
  background-color: #f7fbfc;
  margin-bottom: 50px;
}

.profile {
  margin: 50px auto 50px auto;
}

.skills {
  background-color: #f7fbfc;
  /* #c0ddf3 */
  margin: 50px auto 50px auto;
}

.skill-row {
  width: 50%;
  margin: auto;
  line-height: 2;
}

.skill-desc {
  height: 72px;
}

.hobbies {
  background-color: #f7fbfc;
  margin: 50px auto 0px auto;
}

.hobbies-row {
  width: 75%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #d6e6f2;
  padding: 50px auto 50px auto;
}

.cloud {
  position: relative;
  filter: brightness(1.2);
}

.cloud-left {
  right: min(15%, 250px);
  top: 250px;
}

.cloud-right {
  top: 25px;
  left: min(15%, 250px);
}

.profile-img {
  border-radius: 50%;
  width: 172px;
}

.code-img {
  width: max(15%, 156px);
}

.karate-img {
  width: max(15%, 156px);
  float: left;
  margin-right: 50px;
}

.skateboard-img {
  width: max(15%, 156px);
  float: left;
  margin-right: 50px;
}

.contact-me {
  margin: 50px auto 0px auto;
  line-height: 1.5;
}

.contact-me-btn {
  background: linear-gradient(to bottom, #d6e6f2 5%, #578ece 100%);
  background-color: #f7fbfc;
  border-radius: 18px;
  border: 1px solid #f7fbfc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d6e6f2;
}

.contact-me-btn:hover {
  background: linear-gradient(to bottom, #d6e6f2 5%, #4785cc 100%);
  background-color: #578ece;
}

.contact-me-btn:active {
  position: relative;
  top: 1px;
}

.social-links {
  margin: 25px auto 25px auto;
}

.footer-link {
  margin: auto 25px auto 25px;
  color: #578ece;
}

.footer-link:hover {
  color: #4785cc;
  font-weight: 500;
}

.credits {
  color: white;
  font-weight: bold;
}