body {
  background-color: #f7fbfc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #578ece;
  font-size: 4em;
  margin-bottom: 10px;
}

h2, h3 {
  font-weight: normal;
  color: #578ece;
}

a {
  color: #578ece;
  text-decoration: none;
}

hr {
  border-style: dotted none none none;
  border-color: #d6e6f2;
  border-width: 8px;
  width: 48px;
}


ul {
  list-style-type: none;
  padding: 0;
}


img {
  position: relative;
  max-width: 100%;
}

div {
  width: auto;
  overflow: hidden;
}

.top-container {
  background-color: #d6e6f2;
  padding-top: 20px;
}

.middle-container {
  background-color: #f7fbfc;
}

.profile {
  margin: 50px auto 50px auto;
}

.skills {
  background-color: #f7fbfc;
  /* #c0ddf3 */
  margin: 50px auto 50px auto;
}

.skill-row {
  width: 50%;
  margin: auto;
  line-height: 2;
}

.hobbies {
  background-color: #f7fbfc;
  margin: 50px auto 50px auto;
}

.hobbies-row {
  width: 75%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #d6e6f2;
}

.cloud{
  position: relative;
  filter: brightness(1.2);
}

.cloud-left {
  right: min(15%, 250px);
  top: 250px;
}

.cloud-right {
  top: 25px;
  left: min(15%, 250px);
}

.profile-img {
  border-radius: 50%;
  width: 172px;
}

.code-img {
  width: max(15%, 128px);
}

.karate-img {
  width: max(15%, 128px);
  float: left;
  margin-right: 25px;
}

.skateboard-img {
  width: max(15%, 128px);
  float: left;
  margin-right: 25px;
}